---
layout: default
---

<div class="header-bar">
  <h1>من <strong>امیر </strong> هستم</h1>
  <h3>یک دانشجوی علوم‌کامپیوتر در <a href="http://sbu.ac.ir">دانشگاه شهیدبهشتی</a></h3>
  <hr>
  <br/>
  <br/>
</div>


<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
        <br/>
        
      </li>
    {% endfor %}
</ul>